.content {
    display: flex;
    flex-direction: row;
    padding: 1.25rem 4rem;

    .main-content {
        margin-right: 2rem;
        width: 70%;
    }

    .article-card {
        display: flex;
        flex-direction: column;
        border: 1px solid $grey-lighter;
        padding: 1rem;
        margin-bottom: 2rem;

        .card-header {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid $grey-light;

            .card-image {
                img {
                    width: 100%;
                }
            }

            h2 {
                margin: 0;
            }

            .card-byline {
                display: flex;
                flex-direction: row;
                font-size: small;
                color: $grey-dark;
                padding-bottom: .75rem;

                & > * {
                    margin-right: .5rem;
                }

                .seperator {
                    color: $grey-darkerer;
                }

                .author {
                    color: $primary;
                }
            }
        }

        .card-body {
            margin-top: .6rem;
            font-size: 90%;
        }

        .card-footer {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            font-size: 90%;

            .options {
                cursor: pointer;
                color: $primary-dark;

                &:hover {
                    color: $primary;
                }
            }

            .tags {
                display: flex;
                flex-direction: row;
                margin-top: .25rem;

                .tag-label {
                    color: $grey-dark;
                }

                .tag {
                    background-color: $info;
                    margin: 0 .3rem;
                    padding: .1rem .5rem;
                    color: $grey-lightest;
                    border: 1px solid $info-light;
                    border-radius: .25rem;
                    cursor: pointer;

                    &:hover {
                        background-color: $info-dark;
                    border: 1px solid $info;
                        
                    }
                }
            }
        }
    }
}