.nav-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;

    & > * {
        display: flex;
        flex-direction: row;
        width: 100%;
        color: #fff;
        text-align: center;
    }

    & * {
        margin-top: auto;
        margin-bottom: auto;
    }

    .top-nav {
        background-color: $primary-darkest;
        height: 20%;
        justify-content: flex-end;

        .user-nav {
            display: flex;
            flex-direction: row;
            margin-right: 1.5rem;

            & > * {
                margin: 0 .5rem;
            }
        }

        .tool-link {
            cursor: pointer;

            &:hover {
                color: $grey-lighter;
            }
        }

        .search-box {
            margin-right: 1.5rem;

            input, button {
                border: none;
                padding: .25rem;
                border-radius: .25rem;
                background-color: $grey-dark;
                color: $grey-lightest;
            }

            input:focus {
                background-color: $grey-lightest;
                color: $grey-darkest;
            }

            button {
                cursor: pointer;

                &:hover {
                    background-color: $grey;
                }
            }
        }
    }

    .middle-nav {
        background-color: $primary-darker;
        height: 40%;
        justify-content: space-between;

        .logo {
            display: flex;
            flex-direction: row;
            font-size: x-large;
            font-weight: 700;
            margin-left: 1.5rem;
            cursor: pointer;
            width: 20%;

            .logo-left {
                color: #fff;
            }

            .logo-right {
                color: $primary-lighter;
            }
        }

        .site-links {
            display: flex;
            flex-direction: row;

            .main-link, .home-link {
                cursor: pointer;
                margin: 0 .8rem;

                &.active {
                    color: $primary-lighter;
                }

                &:hover {
                    color: $primary-lightest;
                }
            }
        }

        .user-profile {
            width: 20%;
        }
    }

    .bottom-nav {
        background-color: $primary;
        height: 20%;

        .page-links  {
            display: flex;
            flex-direction: row;
            height: 100%;
            margin-left: 3rem;

            .nav-pils {
                display: flex;
                align-items: center;
                margin: 0;
                cursor: pointer;

                .page-link {
                    margin: auto 1.5rem;
                }

                &:hover {
                    background-color: $primary-light;
                }

                &.active {
                    background-color: $primary-darkish;
                }
            }
        }
    }
    .nav-breadcrumbs {
        justify-content: flex-end;
        background-color: $grey-lighter;
        height: 20%;

        .bcrumb-container {
            display: flex;
            flex-direction: row;
            margin-right: 3rem;

            .bcrumb {
                color: $grey-dark;
                margin: 0 .3rem;
                cursor: pointer;

                &.active {
                    color: $primary;

                    &:hover {
                        color: $primary-light;
                    }
                }

                &:hover {
                    color: $grey;
                }
            }
        }
    }
}
