body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
}
.nav-bar > * {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #fff;
  text-align: center;
}
.nav-bar * {
  margin-top: auto;
  margin-bottom: auto;
}
.nav-bar .top-nav {
  background-color: #14222f;
  height: 20%;
  justify-content: flex-end;
}
.nav-bar .top-nav .user-nav {
  display: flex;
  flex-direction: row;
  margin-right: 1.5rem;
}
.nav-bar .top-nav .user-nav > * {
  margin: 0 0.5rem;
}
.nav-bar .top-nav .tool-link {
  cursor: pointer;
}
.nav-bar .top-nav .tool-link:hover {
  color: #d4dee9ff;
}
.nav-bar .top-nav .search-box {
  margin-right: 1.5rem;
}
.nav-bar .top-nav .search-box input, .nav-bar .top-nav .search-box button {
  border: none;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: #6a6f77ff;
  color: #f9fcff;
}
.nav-bar .top-nav .search-box input:focus {
  background-color: #f9fcff;
  color: #222426ff;
}
.nav-bar .top-nav .search-box button {
  cursor: pointer;
}
.nav-bar .top-nav .search-box button:hover {
  background-color: #9faab5ff;
}
.nav-bar .middle-nav {
  background-color: #2d4457;
  height: 40%;
  justify-content: space-between;
}
.nav-bar .middle-nav .logo {
  display: flex;
  flex-direction: row;
  font-size: x-large;
  font-weight: 700;
  margin-left: 1.5rem;
  cursor: pointer;
  width: 20%;
}
.nav-bar .middle-nav .logo .logo-left {
  color: #fff;
}
.nav-bar .middle-nav .logo .logo-right {
  color: #aed4f5ff;
}
.nav-bar .middle-nav .site-links {
  display: flex;
  flex-direction: row;
}
.nav-bar .middle-nav .site-links .main-link, .nav-bar .middle-nav .site-links .home-link {
  cursor: pointer;
  margin: 0 0.8rem;
}
.nav-bar .middle-nav .site-links .main-link.active, .nav-bar .middle-nav .site-links .home-link.active {
  color: #aed4f5ff;
}
.nav-bar .middle-nav .site-links .main-link:hover, .nav-bar .middle-nav .site-links .home-link:hover {
  color: #daeaf8ff;
}
.nav-bar .middle-nav .user-profile {
  width: 20%;
}
.nav-bar .bottom-nav {
  background-color: #4699e2;
  height: 20%;
}
.nav-bar .bottom-nav .page-links {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-left: 3rem;
}
.nav-bar .bottom-nav .page-links .nav-pils {
  display: flex;
  align-items: center;
  margin: 0;
  cursor: pointer;
}
.nav-bar .bottom-nav .page-links .nav-pils .page-link {
  margin: auto 1.5rem;
}
.nav-bar .bottom-nav .page-links .nav-pils:hover {
  background-color: #67a9e3ff;
}
.nav-bar .bottom-nav .page-links .nav-pils.active {
  background-color: #3372aa;
}
.nav-bar .nav-breadcrumbs {
  justify-content: flex-end;
  background-color: #d4dee9ff;
  height: 20%;
}
.nav-bar .nav-breadcrumbs .bcrumb-container {
  display: flex;
  flex-direction: row;
  margin-right: 3rem;
}
.nav-bar .nav-breadcrumbs .bcrumb-container .bcrumb {
  color: #6a6f77ff;
  margin: 0 0.3rem;
  cursor: pointer;
}
.nav-bar .nav-breadcrumbs .bcrumb-container .bcrumb.active {
  color: #4699e2;
}
.nav-bar .nav-breadcrumbs .bcrumb-container .bcrumb.active:hover {
  color: #67a9e3ff;
}
.nav-bar .nav-breadcrumbs .bcrumb-container .bcrumb:hover {
  color: #9faab5ff;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 1.25rem 4rem;
}
.content .main-content {
  margin-right: 2rem;
  width: 70%;
}
.content .article-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #d4dee9ff;
  padding: 1rem;
  margin-bottom: 2rem;
}
.content .article-card .card-header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #b4c0cdff;
}
.content .article-card .card-header .card-image img {
  width: 100%;
}
.content .article-card .card-header h2 {
  margin: 0;
}
.content .article-card .card-header .card-byline {
  display: flex;
  flex-direction: row;
  font-size: small;
  color: #6a6f77ff;
  padding-bottom: 0.75rem;
}
.content .article-card .card-header .card-byline > * {
  margin-right: 0.5rem;
}
.content .article-card .card-header .card-byline .seperator {
  color: #2c3135;
}
.content .article-card .card-header .card-byline .author {
  color: #4699e2;
}
.content .article-card .card-body {
  margin-top: 0.6rem;
  font-size: 90%;
}
.content .article-card .card-footer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  font-size: 90%;
}
.content .article-card .card-footer .options {
  cursor: pointer;
  color: #195284ff;
}
.content .article-card .card-footer .options:hover {
  color: #4699e2;
}
.content .article-card .card-footer .tags {
  display: flex;
  flex-direction: row;
  margin-top: 0.25rem;
}
.content .article-card .card-footer .tags .tag-label {
  color: #6a6f77ff;
}
.content .article-card .card-footer .tags .tag {
  background-color: #32c4abff;
  margin: 0 0.3rem;
  padding: 0.1rem 0.5rem;
  color: #f9fcff;
  border: 1px solid #66dfcbff;
  border-radius: 0.25rem;
  cursor: pointer;
}
.content .article-card .card-footer .tags .tag:hover {
  background-color: #289c88ff;
  border: 1px solid #32c4abff;
}

.sidebar {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 1rem;
  width: 30%;
}
.sidebar .sidebar-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #d4dee9ff;
}
.sidebar .sidebar-card .sidebar-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.5rem 0.75rem;
  background-color: #2d4457;
  color: #f9fcff;
}
.sidebar .sidebar-card .sidebar-header .header-icon {
  margin-right: 0.75rem;
}
.sidebar .sidebar-card .card-body {
  padding: 0.5rem 0.75rem;
  font-size: 90%;
}
.sidebar .sidebar-card .card-body .card-list {
  display: grid;
  grid-template-columns: auto;
  border: 1px solid #d4dee9ff;
}
.sidebar .sidebar-card .card-body .card-list .list-item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #d4dee9ff;
  padding: 0.25rem;
  cursor: pointer;
}
.sidebar .sidebar-card .card-body .card-list .list-item:hover {
  background-color: #f9fcff;
}
.sidebar .sidebar-card .card-body .card-list .list-item .item-img {
  width: 25%;
}
.sidebar .sidebar-card .card-body .card-list .list-item .item-img img {
  max-width: 100%;
  max-height: 100%;
}
.sidebar .sidebar-card .card-body .card-list .list-item .item-date,
.sidebar .sidebar-card .card-body .card-list .list-item .item-initials {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  color: #fff;
  border: 1px solid #b4c0cdff;
  border-radius: 50%;
  font-size: 95%;
  font-weight: 700;
}
.sidebar .sidebar-card .card-body .card-list .list-item .item-initials {
  padding: 1rem;
}
.sidebar .sidebar-card .card-body .card-list .list-item .item-initials.success {
  background-color: #57ca5fff;
}
.sidebar .sidebar-card .card-body .card-list .list-item .item-initials.warning {
  background-color: #310080;
}
.sidebar .sidebar-card .card-body .card-list .list-item .item-initials.info {
  background-color: #32c4abff;
}
.sidebar .sidebar-card .card-body .card-list .list-item .item-initials.primary {
  background-color: #bb22f8;
}
.sidebar .sidebar-card .card-body .card-list .list-item .item-date {
  background-color: #195284ff;
  padding: 0.5rem 1rem;
}
.sidebar .sidebar-card .card-body .card-list .list-item .item-body {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-left: 0.5rem;
}
.sidebar .sidebar-card .card-body .card-list .list-item .item-body .item-title {
  font-size: 95%;
  font-weight: 700;
}
.sidebar .sidebar-card .card-body .card-list .list-item .item-body .item-info {
  color: #6a6f77ff;
  font-size: 90%;
}

/*# sourceMappingURL=style.css.map */
